<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<title>Challenge: <%= challenge.name %></title>
</head>
<body>
<nav class="nav">
	<a href="/" class="back"><i class="fas fa-arrow-left"></i></a>
	<h2 class="title"><%= challenge.name %></h2>
	<button class="info" onclick="description();"><i class="fas fa-info"></i>
		<p class="description"><%= challenge.description %></p></button>
</nav>
<canvas id="canvas"></canvas>
</body>
<script src="/scripts/challenge.js"></script>
<script type="text/javascript">
	setup(<%- challenge.callback %>);
</script>
</html>
